<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>

<body>
    <form method="POST" th:action="@{/mvc/newPlayer}" th:object="${cardsDto}">
        <fieldset>
            <input type="submit" value="save">
            <table>
                <thead>
                <tr>
                    <th> cardName</th>
                    <th> quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="card, itemStat : *{cards}">
                    <td><input th:field="*{cards[__${itemStat.index}__].name}" /></td>
                    <td><input th:field="*{cards[__${itemStat.index}__].quantity}" /></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <p>
            <a th:href="@{/mvc/addCards}">add cards</a>
        </p>
    </form>
</body>
</html>