<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>

<body>
    <form method="POST" th:action="@{/mvc/newUser}" th:object="${user}">
        <label for="email">email</label>
        <input type="text" id="email" th:field="*{email}" />
        <label for="password">password</label>
        <input type="text" id="password" th:field="*{password}" />
        <label for="role">role</label>
        <input type="text" id="role" th:field="*{role}" />
        <input type="submit" value="save user">
    </form>
</body>
</html>