<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>players</title>
</head>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>name</td>
        <td>deckname</td>
        <td>cards</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="player : ${players}">
        <td th:text="${player.name}"></td>
        <td th:text="${player.deckname}"></td>
        <td>
            <p th:each="card : ${player.cards}">
                <span th:text="${card.name}">card</span>
                <span th:text="${card.quantity}">quantity</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
</html>