<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>

<body>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>email</td>
            <td>password</td>
            <td>role</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.role}"></td>
        </tr>
        </tbody>
    </table>

    <p>
        <a th:href="@{/mvc/newUser}">new user</a>
    </p>
</body>
</html>